$navigation-padding: 15px;
$navigation-bg-color: $black;
$navigation-font-color: $white;
$navigation-underline-width: 3px;
$navigation-height: 10vh;

.site-header {
  background: $navigation-bg-color;
  color: $white;
  @include clearfix;
  height: $navigation-height;
  font-size: $font-S;
}

.home {
  float: left;
  padding-left: $navigation-padding;
  font-family: $heading-font;
  color: $navigation-font-color;
  line-height: $navigation-height;
}

.site-nav {
  float: right;
  padding-right: $navigation-padding;

  a {
    line-height: $navigation-height;
    margin-left: 15px;
    color: $navigation-font-color;
    text-decoration: none;
    padding-bottom: $navigation-underline-width;
    border-bottom: $navigation-underline-width solid $navigation-bg-color;

    &:hover {
      border-bottom: $navigation-underline-width solid $navigation-font-color;
    }
  }
}