.hero {
  height: 90vh;
  background-image: url(/assets/images/hero.jpg);
  background-size: cover;
  color: $white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: $font-XXXXL;
  }
  p {
    font-size: $font-L;
    padding-top: $leading;
  }
}