/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    margin-bottom: $leading;
    .lineno { color: $highlight-linenumbers; margin-right: 5px }

    .c     { color: $highlight-comment; font-style: italic } // Comment
    .err   { color: $highlight-red } // Error
    .k     { color: $highlight-purple } // Keyword
    .o     { color: $highlight-foreground } // Operator
    .cm    { color: $highlight-comment; font-style: italic } // Comment.Multiline
    .cp    { color: $highlight-comment } // Comment.Preproc
    .c1    { color: $highlight-comment; font-style: italic } // Comment.Single
    .cs    { color: $highlight-comment; font-style: italic } // Comment.Special
    .gd    { color: $highlight-red } // Generic.Deleted
    .gd .x { color: $highlight-red } // Generic.Deleted.Specific
    .ge    { font-style: italic } // Generic.Emph
    .gr    { color: $highlight-red } // Generic.Error
    .gh    { color: $highlight-foreground } // Generic.Heading
    .gi    { color: $highlight-green } // Generic.Inserted
    .gi .x { color: $highlight-green } // Generic.Inserted.Specific
    .go    { color: $highlight-foreground } // Generic.Output
    .gp    { color: $highlight-comment } // Generic.Prompt
    .gs    { color: $highlight-foreground } // Generic.Strong
    .gu    { color: $highlight-aqua } // Generic.Subheading
    .gt    { color: $highlight-red } // Generic.Traceback
    .kc    { color: $highlight-purple } // Keyword.Constant
    .kd    { color: $highlight-purple } // Keyword.Declaration
    .kp    { color: $highlight-purple } // Keyword.Pseudo
    .kr    { color: $highlight-purple } // Keyword.Reserved
    .kt    { color: $highlight-yellow } // Keyword.Type
    .m     { color: $highlight-orange } // Literal.Number
    .s     { color: $highlight-green } // Literal.String
    .na    { color: $highlight-blue } // Name.Attribute
    .nb    { color: $highlight-foreground } // Name.Builtin
    .nc    { color: $highlight-yellow } // Name.Class
    .nd    { color: $highlight-aqua } // Name.Decorator
    .no    { color: $highlight-red } // Name.Constant
    .ni    { color: $highlight-foreground } // Name.Entity
    .ne    { color: $highlight-red } // Name.Exception
    .nf    { color: $highlight-blue } // Name.Function
    .nn    { color: $highlight-yellow } // Name.Namespace
    .nt    { color: $highlight-aqua } // Name.Tag
    .nv    { color: $highlight-red } // Name.Variable
    .nx    { color: $highlight-blue } // Name.Other
    .ow    { color: $highlight-aqua } // Operator.Word
    .w     { color: $highlight-foreground } // Text.Whitespace
    .mf    { color: $highlight-orange } // Literal.Number.Float
    .mh    { color: $highlight-orange } // Literal.Number.Hex
    .mi    { color: $highlight-orange } // Literal.Number.Integer
    .mo    { color: $highlight-orange } // Literal.Number.Oct
    .sb    { color: $highlight-green } // Literal.String.Backtick
    .sc    { color: $highlight-foreground } // Literal.String.Char
    .sd    { color: $highlight-comment } // Literal.String.Doc
    .s2    { color: $highlight-green } // Literal.String.Double
    .se    { color: $highlight-orange } // Literal.String.Escape
    .sh    { color: $highlight-green } // Literal.String.Heredoc
    .si    { color: $highlight-orange } // Literal.String.Interpol
    .sx    { color: $highlight-green } // Literal.String.Other
    .sr    { color: $highlight-green } // Literal.String.Regex
    .s1    { color: $highlight-green } // Literal.String.Single
    .ss    { color: $highlight-green } // Literal.String.Symbol
    .bp    { color: $highlight-foreground } // Name.Builtin.Pseudo
    .vc    { color: $highlight-red } // Name.Variable.Class
    .vg    { color: $highlight-red } // Name.Variable.Global
    .vi    { color: $highlight-red } // Name.Variable.Instance
    .il    { color: $highlight-orange } // Literal.Number.Integer.Long
}
